*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

article, aside, dialog, figcaption, div,
figure, footer, header, hgroup, main, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-6, .col-md-3, .col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

}

@media (min-width: 768px) {

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

}

@media (min-width: 992px) {
    .custom-col-lg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 18%;
        max-width: 18%;
    }
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

header {
    position: fixed;
    background: #0087cd;
    width: 100%;
    top: 0;
    padding: 20px;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9;
}

header img {
    padding-right: 15px;
    padding-left: 15px;
    height: 44px;
}

section.container,
section.container-fluid {
    position: relative;
    min-height: 100vh;
}

.icons-container {
    padding-top:100px;
    text-align: center;
}

.icons-container .row div {
    cursor: pointer;
    box-shadow: rgba(46, 41, 51, 0.08) 0px 1px 2px, rgba(71, 63, 79, 0.08) 0px 2px 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: 4px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0 15px 15px;

}
.icons-container .row div:hover{
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px, rgba(71, 63, 79, 0.16) 0px 8px 16px;
}
.icons-container .icons {
    max-width: 60%;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

}

.modalDialog .modal-background  {

   z-index: 99;
    height: 100%;
    transform: scale(0.7);
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modalDialog .modal-background .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    z-index: 999;
}

.modalDialog .modal-background .modal .d-flex img {
    margin-bottom: 0.5rem;
}

.modalDialog .modal-background .modal .d-flex h1 {
    font-size: 2rem;
    line-height: 1;
}

.modalDialog .modal-background .modal .d-flex p {
    font-size: 16px;
    line-height: 21px;
}

.modalDialog .modal-background .modal .d-flex .close,
.modalDialog .modal-background .modal .d-flex .read-more {
    background-color: #0087cd;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

.modalDialog .modal-background .modal .d-flex .close p {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

.modalDialog .modal-background .modal .d-flex .read-more {
    background-color: #bb4d4a;
    margin-right: 15px;
}
.modalDialog.active{
    visibility: visible;
}
.modalDialog.active ~ .modal-background {
    opacity: 1;
    visibility: visible;
}
.modalDialog.active  .modal-background {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.modalDialog.active  .modal-background .modal .d-flex .buttons{
    opacity: 1;
    z-index: 9999;
}
.modalDialog.active  .modal-background .modal .d-flex .buttons .close,
.modalDialog.active  .modal-background .modal .d-flex .buttons .read-more{
    position: relative;
}
.modalDialog.active  .modal-background .modal .d-flex .buttons .close::before,
.modalDialog.active  .modal-background .modal .d-flex .buttons .close::after,
.modalDialog.active  .modal-background .modal .d-flex .buttons .read-more::before,
.modalDialog.active  .modal-background .modal .d-flex .buttons .read-more::after{
    box-sizing: inherit;
    content: '';
    position: absolute;

}
.draw {
    -webkit-transition: color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #fff;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #fff;
    border-right-color: #fff;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
@media screen and (min-width: 576px) {


    .modalDialog .modal-background .modal {
        width: 480px;
    }

    footer {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
}
@media screen and (min-width: 768px) {
    .icons-container {
        top: 50%;
        padding-top: 0;
        position: absolute;
        transform: translateY(-50%);
    }
    .icons-container .row div{
        margin: 0 15px 0 0;
    }
    .icons-container .row div:not(:last-child){
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 992px) {
    .flex-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    .icons-container .row div{
        margin-right: 15px;
    }
    .icons-container .row div:not(:last-child){
        margin-bottom: 0;
    }
    .icons-container .row div:nth-child(-n + 5) {
        margin-bottom: 100px;
    }
    .modalDialog .modal-background .modal {
        width: 800px;
    }

    .modalDialog .modal-background .modal .d-flex img {
        max-width: 50%;
        height: 250px;
        margin-bottom: 0;
    }

    .modalDialog .modal-background .modal .d-flex h1,
    .modalDialog .modal-background .modal .d-flex p {
        margin-left: 20px;
    }

    .modalDialog .modal-background .modal .d-flex p {
        margin-bottom: 0;
    }
    .modalDialog .modal-background .modal .d-flex .buttons
    {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
    }

}
